@media only screen and (orientation: landscape) {
    #map {
        height: 25vh;
        width: 25vh;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    #manual-marker-location {
        width: 50vh;
        height: auto;
    }
}

@media only screen and (orientation: portrait) {
    #map {
        height: 25vw;
        width: 25vw;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    #manual-marker-location {
        width: 50vw;
        height: auto;
    }
}

#manual-marker-location {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#mml_latitude {
    width: 100%;
}

#mml_longitude {
    width: 100%;
}